.DS_Store
/dist/
node_modules/
yarn-error.log
.venv/
myenv/

.gitignore
.gitignore

cpp/test*

pipeline/old1/
figs/pipeline/old1/
cpp/tmp_data_dir/

.vscode/settings.json
src/*_data_dir/
src/hysteresis_1

julia/experiments/results/sweeps.duckdb
src/hysteresis-data.parquet
